{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1 class="h4">{{ torrent.name }}</h1>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Download torrent file:</strong></div>
                    <div class="col-md-8"><a class="link-underline link-underline-opacity-0" href="{{ torrent.torrent_url }}" download><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"></path>
                      </svg></a></div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Submitter:</strong></div>
                    <div class="col-md-8">{{ torrent.torrentinfo.user.username }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>File size:</strong></div>
                    <div class="col-md-8">{{ torrent.length }} bytes</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Upload Date:</strong></div>
                    <div class="col-md-8">{{ torrent.upload_date }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Seeders:</strong></div>
                    <div class="col-md-8">{{ torrent.torrentinfo.seeder }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Leechers:</strong></div>
                    <div class="col-md-8">{{ torrent.torrentinfo.leecher }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Completed:</strong></div>
                    <div class="col-md-8">{{ torrent.torrentinfo.completed }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4"><strong>Description:</strong></div>
                    <div class="col-md-8">{{ torrent.torrentinfo.description }}</div>
                </div>
            </div>
        </div>
    
        <div class="card mt-4">
            <div class="card-header">
                <h2 class="h5">Folder Structure</h2>
            </div>
            <div class="card-body">
                {% include "folder_node.html" with node=file_tree %}
            </div>
        </div>
    </div>
    
</section>
{% endblock %}